@type    : 'component';
@element : 'flexberry-sidebar';

@import (multiple) '../../theme.config';

.ui.attached.menu:not(.tabular) {
  border: none;
}

.ui.attached.menu > .flex-container > .launch.icon.item:hover {
  background: none;
}

.launch.icon.item {
  box-shadow: none;
  padding: 0px;
}

.ui.menu .item:before {
  background: none;
}

.loadUIOverrides();