@type    : 'component';
@element : 'flexberry-highloadedmenu';

@import (multiple) '../../theme.config';

.ui.grid.highloaded-menu-container {
  max-width: 1167px;
  margin-bottom: 0;
}

.ui.fixed {
  position: sticky;
  top: 20px;
}

.ui.two.column.grid.highloaded-menu {
  margin: 0;
  column-gap: 10px;

  h3.ui.header {
  font-size: @highloadedMenuHeaderFontSize;
  line-height: @highloadedMenuHeaderLineHeight;
  font-weight: bold;
  margin-bottom: 0;
  }

  h3.ui.header.number {
    font-size: @highloadedMenuNumberFontSize;
    font-weight: normal;
    line-height: @highloadedMenuNumberLineHeight;
  }

  .tab.item {
    font-size: @highloadedMenuLinkFontSize;
    color: @blueZodiak;
    cursor: pointer;
  }

  .list.active .tab.item.active {
    color: @highloadedMenuGreen;
    font-weight: 600;
    cursor: default;
  }

  .cell.asterisk-cell {
    display: flex;
    align-items: start;
  }

  i.small.icon, i.small.icons {
    line-height: @highloadedMenuIconLineHeight;
    font-size: @highloadedMenuIconFontSize;
  }

  .list {
    padding: 0;
    padding-bottom: @highloadedMenuListPaddingBottom;
    margin: 0;
    position: relative;
  }

  .list.active::after {
    content: "";
    position: absolute;
    width: @highloadedMenuLineWidth;
    background-color: @highloadedMenuGrey;
    height: 100%;
    left: @highloadedMenuLinePositionLeft;
    top: 0;
  }
}

.highloaded-menu.ui.grid > .column:not(.row) {
  padding-top: 0;
  padding: 0;
  padding-bottom: @highloadedMenuColumnPaddingBottom;
}

.tab-item-container {
  display: flex;
}

.highloaded-menu-container .show-all.ui.empty.button  {
  font-size: @highloadedMenuShowAllFontSize;
  min-height: @highloadedMenuBtnMinHeight;
  padding-left: 0;

  &.active, &.active .icon {
    color: @highloadedMenuGreen;
  }

  &:hover, :focus {
    background-color: @highloadedMenuTransparent;
    color: @highloadedMenuShowAllColor;
  }

  &:hover .icon {
    color: @highloadedMenuShowAllColor;
  }

  .icon {
    font-size: @highloadedMenuListIconSIze;
    vertical-align: middle;
  }
}

.button-container {
  display: flex;
  gap: @highloadedMenuButtonGap;
}

.button-container .ui.button.pink-btn {
  background-color: @highloadedMenuNextBtnColor;
  color: @white;

  .icon {
    color: @white;
    vertical-align: middle;
    font-size: @highloadedMenuNextBtnIconSize;
  }

  &:hover {
    background-color: @highloadedMenuNextBtnColorHover;
  }
}

.button-container .tabsNavigation {
  font-size: @highloadedMenuBtnSize;
  padding: 0.7em;
}

.button-container .empty.button {
  color: @secondaryColor;

  .icon {
    color: @secondaryColor;
    vertical-align: middle;
    font-size: @highloadedMenuBackBtn;
  }

  &:hover {
    color: @highloadedMenuBackBtnColorHover;
  }

  &:hover .icon {
    color: @highloadedMenuBackBtnColorHover;
  }
}

.button-container .ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
  margin-right: 2px;
}
