@type    : 'component';
@element : 'flexberry-sitemap-searchbar';

@import (multiple) '../../theme.config';


.sitemap-searchbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sitemap-search-results-list {
  align-self: center;
  background:@white;
  border-bottom-left-radius: @resultsListBorderRadius;
  border-bottom-right-radius: @resultsListBorderRadius;
  box-shadow: @resultsListShadow;
  display: block;
  font-size: @resultsListFontSize;
  font-weight: @resultsListFontWeight;
  line-height: @resultsListLineHeight;
  margin-top: @resultsListMarginTop;
  max-height: @resultsListMaxHeight;
  overflow-y: auto;
  position: absolute;
  scrollbar-width: thin;
  width: @searchbarWidth;
  z-index: 1;
  padding-top: 2px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: #666;
  }
}

.sitemap-search-results-list .match-card a {
  color: @textColor;
  font-size: @resultsListFontSize;
  font-weight: 500;

  &:hover {
    color: @primaryColor;
  }
}

.sitemap-search-results-list .ui.accordion:not(.styled) .title ~ .content:not(.ui) {
  padding-top: 0;
  margin-left: 43px;
}

.sitemap-search-results-list .ui.accordion:not(.styled) .ui.fluid.accordion .title ~ .content:not(.ui) {
  margin-left: 30px;
}

.sitemap-search-results-list .ui.accordion:not(.styled) .title ~ .content:not(.ui) .title {
  margin-left: -30px;
}

.sitemap-search-results-list .ui.accordion .title:not(.ui) {
  padding: 0.6em 0.1em;
}

.sitemap-search-results-list .match-card:has(> a) {
  padding: 10px 12px;
}


.sitemap-search-results-list .match-card .flexberry-toggler .title {
  display: flex;
  align-items: center;
  color: @lightGrayishBlue;
  font-size: @resultsListFontSize;
  line-height: @resultsListLineHeight;
}

.sitemap-search-results-list .match-card .flexberry-toggler.ui.accordion.fluid .content.flexberry-toggler-content div:has(> a) {
  margin-bottom: 5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.sitemap-search-results-list .ui.message {
  box-shadow: none;
}

.sitemap-search-results-list .ui.message .header {
  text-overflow: ellipsis;
  overflow: hidden;
}

.sitemap-search-input {
  align-self: center;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: lighten(@sidebarBackgroundColor, 10%);
  border: 1px solid lighten(@sidebarBackgroundColor, 10%);
  color: @textColor;
  width: @searchbarWidth;
  z-index: 2;

  .hidden {
    display: none;
  }

  &::placeholder {
    color: @linkWater;
    font-family: @fontName;
    font-size: 14px;
    line-height: 20px;
  }
}

.sitemap-searchbar:has(.sitemap-search-results-list) .sitemap-search-input,
.sitemap-search-input:focus {
  background-color: @white;
  outline: none;
  border-color: @activeColor;

  &::placeholder {
    color: @lightGrayishBlue;
  }
}


/*******************************
            Mini sidebar
*******************************/
.ui.sidebar.main.menu.sidebar-mini {
  .sitemap-search-input, .sitemap-search-results-list {
    margin-left: 263px;
    position: absolute;
    width: @searchbarWidthMiniSidebar;
  }

  .sitemap-search-icon {
    opacity: 0.2;
    color: @white;
    margin-left: 15px;
    font-size: 1.5rem;
    transition: opacity 0.3s;
    cursor: pointer;
    margin-bottom: 24px;

    &:active,
    &:hover {
      opacity: 1;
    }
  }
}
