/* associate */

@site-associate:'';
@reset-associate      : '';

/* Elements */
@button-associate     : 'components/flexberry-button';
@container-associate  : '';
@divider-associate    : '';
@flag-associate       : '';
@header-associate     : '';
@icon-associate       : '';
@image-associate      : '';
@input-associate      : 'components/flexberry-input';
@label-associate      : '';
@list-associate       : '';
@loader-associate     : '';
@rail-associate       : '';
@reveal-associate     : '';
@segment-associate    : 'semantic/segment';
@step-associate       : '';

/* Collections */
@breadcrumb-associate : '';
@form-associate       : 'pages/edit-form';
@grid-associate       : '';
@menu-associate       : 'components/flexberry-menu';
@message-associate    : 'components/flexberry-uimessage';
@table-associate: 'components/flexberry-objectlistview';

/* Modules */
@accordion-associate  : '';
@checkbox-associate   : 'components/flexberry-checkbox';
@dimmer-associate     : 'components/flexberry-dimmer';
@dropdown-associate   : 'components/flexberry-dropdown';
@embed-associate      : '';
@modal-associate      : 'components/flexberry-modal';
@nag-associate        : '';
@popup-associate      : '';
@progress-associate   : '';
@rating-associate     : '';
@search-associate     : '';
@shape-associate      : '';
@sidebar-associate    : 'components/flexberry-sidebar';
@sticky-associate     : '';
@tab-associate        : '';
@transition-associate : '';

/* Views */
@ad-associate         : '';
@card-associate: 'components/flexberry-card';
@comment-associate    : '';
@feed-associate       : '';
@item-associate       : '';
@statistic-associate  : '';


/* Сontrols */
@flexberry-button-associate: '';
@flexberry-card-associate: '';
@flexberry-checkbox-associate: '';
@flexberry-colsconfig-associate: '';
@flexberry-dimmer-associate: '';
@flexberry-dropdown-associate: '';
@flexberry-field-associate: '';
@flexberry-file-associate: '';
@flexberry-groupedit-associate: '';
@flexberry-input-associate: '';
@flexberry-lookup-associate: '';
@flexberry-menu-associate: '';
@flexberry-modal-associate: '';
@flexberry-objectlistview-associate: '';
@flexberry-sidebar-associate: '';
@flexberry-simpledatetime-associate: '';
@flexberry-toggler-associate: '';
@flexberry-tree-associate: '';
@flexberry-tab-bar-associate: '';
@flexberry-modal-associate: '';
@flexberry-dimmer-associate: '';
@flexberry-uimessage-associate: '';
@flexberry-validationmessage-associate: '';
@flexberry-validationsummary-associate: '';

/* Forms */
@edit-form-associate: '';
@login-form-associate: '';
@main-associate: '';
